<div class="parent-comment" commentID="<%= parentComment.id%>">
    <div class="comment-container">
    
        <div class="comment-head">
            <img src="https://images.unsplash.com/photo-1541320779116-ec4a3d4692bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="" class="avatar-24">
            <a href="/profile/<%=parentComment.authorID%>"><p><%= parentComment.author.username %></p></a>
            <p class="caption-reg"><%= parentComment.dateCreated %></p>
        </div>

        <div class="comment-body">
            
            <i id='collapse-icon' class="fa-solid fa-down-left-and-up-right-to-center hidden"></i>
            <div class="comment-line" id="comment-line-<%= parentComment.id%>">
                

            </div>
            <div class="comment-pair">
                <div class="comment-body-content">
                    
                        <p><%= parentComment.body %></p>
                    <div class="comment-body-content-details">
                        <span><p class="caption-reg">up 2312 down</p></span>
                        <span class="caption-reg comment-reply"> reply </span>
                        
                    </div>
                </div>

                

            </div>
            
        </div>
        

    </div>
    
</div>


